In [1]:
import pandas as pd
import numpy as np

In [48]:
df_ganancias_sexoNacionalidad = pd.read_csv('Ganancia_anual_sexo&nac.csv', sep = '\t')
df_ganancias_sexoNacionalidad.head()

  Nacionalidad         Sexo  Periodo      Total
0        Total  Ambos sexos     2020  25.165,51
1        Total  Ambos sexos     2019  24.395,98
2        Total  Ambos sexos     2018  24.009,12
3        Total  Ambos sexos     2017   23.646,5
4        Total  Ambos sexos     2016  23.156,34

In [30]:
ganancias2021 = pd.read_csv("2021 salarios mes.csv", sep = '\t', encoding='Latin1')
ganancias2021[ganancias2021['Decil'] == 'Total decil']

,Nacionalidad,Tipo de jornada,Decil,Periodo,Total
0,Total,Jornada a tiempo completo,Total decil,2021,"2.313,13"
11,Española,Jornada a tiempo completo,Total decil,2021,"2.396,34"
22,Española y doble nacionalidad,Jornada a tiempo completo,Total decil,2021,"1.945,53"
33,Extranjera,Jornada a tiempo completo,Total decil,2021,"1.821,24"

In [49]:
df_ganancias_sexoNacionalidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nacionalidad  273 non-null    object
 1   Sexo          273 non-null    object
 2   Periodo       273 non-null    int64
 3   Total         273 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.7+ KB

## LIMPIEZA DE DATOS ##

lo primero que tengo que hacer es convertir la columna total a float con el que pueda trabajar

#nota: el '-' delante de los numeros (según leido en la documentacion de los datos procedentes de ine.es)significa una cantidad de muestreo mas reducida, pero no un numero negativo

In [50]:
#hay alguna manera más elegante de hacer esto?

df_ganancias_sexoNacionalidad['Total'] = df_ganancias_sexoNacionalidad['Total'].str.replace('.','')
df_ganancias_sexoNacionalidad['Total'] = df_ganancias_sexoNacionalidad['Total'].str.replace(',','.')
df_ganancias_sexoNacionalidad['Total'] = df_ganancias_sexoNacionalidad['Total'].str.replace('-','')

C:\Users\rivas\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [51]:
#por alguna razon, al hacer esto se me genera un NaN en muj 2009 otros paises
df_ganancias_sexoNacionalidad['Total'] = pd.to_numeric(df_ganancias_sexoNacionalidad['Total'])
df_ganancias_sexoNacionalidad['Total']

0      25165.51
1      24395.98
2      24009.12
3      23646.50
4      23156.34
5      23106.30
6      22858.17
7      22697.86
8      22726.44
9      22899.35
10     22790.20
11     22511.47
12     21883.42
13     22467.48
14     21682.02
15     21011.89
16     20607.85
17     20131.41
18     20051.58
19     19744.82
20     19514.58
21     19537.33
22     19767.59
23     19735.22
24     19502.02
25     18910.62
26     27642.52
27     26934.38
28     26738.19
29     26391.84
30     25924.43
31     25992.76
32     25727.24
33     25675.17
34     25682.05
35     25667.89
36     25479.74
37     25001.05
38     24203.33
39     25690.74
40     24936.03
41     24440.21
42     24116.92
43     23605.82
44     23543.48
45     23237.94
46     23181.18
47     23232.42
48     23429.41
49     23335.39
50     23018.58
51     22485.64
52     22894.30
53     22139.13
54     21365.10
55     20929.88
56     20463.42
57     20397.98
58     20038.72
59     19886.49
60     19948.76
61     20166.43
62     20141.15
63     19871.83
64     19383.63
65     28312.74
66     27594.47
67     27303.22
68     27059.95
69     26545.04
70     26555.82
71     26234.90
72     26299.66
73     26298.33
74     26361.30
75     26196.46
76     25670.73
77     24943.85
78     21832.44
79     20795.83
80     20999.87
81     19975.81
82     18870.52
83     19145.87
84     20327.35
85     17987.83
86     17442.58
87     17892.58
88     18637.20
89     17235.14
90     16823.08
91     18741.52
92     17734.72
93     17320.07
94     17603.79
95     16061.00
96     16192.19
97     16911.69
98     15207.00
99     14585.44
100    15165.30
101    15957.12
102    15089.04
103    14649.58
104    24451.69
105    23614.73
106    24203.64
107    21835.66
108    21361.12
109    21873.31
110    23417.97
111    20528.19
112    20102.74
113    20159.89
114    20843.77
115    18641.89
116    18354.43
117    19852.61
118    17258.29
119    16788.31
120    16325.34
121    15948.73
122    15367.60
123    15147.39
124    14994.68
125    14482.50
126    16518.28
127    16400.42
128    14137.08
129    14330.03
130    16421.07
131    15802.93
132    15698.68
133    14029.89
134    13110.17
135    12930.82
136    12122.48
137    13724.98
138    12525.75
139    14663.64
140    14241.35
141    12457.92
142    13298.04
143    23677.28
144    18994.99
145    18087.06
146    18987.70
147    18097.43
148    19183.27
149    19432.43
150    17199.40
151    17122.95
152    19415.56
153    18711.07
154    16187.64
155    15382.91
156    16784.02
157    16423.35
158    16315.07
159    14637.18
160    14083.08
161    14756.32
162    14870.39
163    14463.26
164    14938.38
165    15721.63
166    15387.37
167    15564.90
168    14744.91
169    13840.89
170    13162.24
171    13058.63
172    11422.91
173    11232.70
174    12192.88
175    11991.31
176    11165.98
177    11931.73
178    11840.96
179    12728.61
180    11980.15
181    10802.75
182    17566.16
183    17580.74
184    17435.89
185    15694.59
186    14961.12
187    15689.62
188    15680.46
189    15632.20
190    16182.09
191    17070.84
192    16019.59
193    16333.93
194    15635.32
195    16100.85
196    15794.10
197    16573.81
198    15283.56
199    14796.17
200    14649.90
201    15033.24
202    14234.62
203    14605.57
204    14894.07
205    14884.49
206    14157.81
207    13962.05
208    14076.89
209    13934.03
210    13659.96
211    13922.24
212    12425.98
213    12872.62
214    13108.19
215    12473.03
216    12795.24
217    13139.78
218    13173.36
219    12468.24
220    11980.03
221    17929.05
222    17471.00
223    18725.15
224    16373.01
225    16371.48
226    16166.48
227    16511.96
228    15895.11
229    16477.28
230    16376.81
231    16460.58
232    15674.87
233    15676.60
234    16433.04
235    16060.84
236    16443.13
237    13873.92
238    13409.01
239    12519.60
240    13454.65
241    11960.85
242    12439.67
243    12268.55
244    13964.71
245    11868.31
246    11896.77
247    15742.51
248    14444.86
249    15127.93
250    11144.56
251     9459.96
252     9269.16
253    11108.65
254    10073.56
255    11486.40
256    11355.96
257    13145.77
258         NaN
259     9921.45
260    16774.91
261    16989.44
262    16852.76
263    14889.57
264    14957.77
265    14197.26
266    14562.14
267    12852.85
268    12887.57
269    12526.02
270    14229.75
271    12174.59
272    12774.99
Name: Total, dtype: float64

In [52]:
#arreglar el NaN 
df_ganancias_sexoNacionalidad[df_ganancias_sexoNacionalidad['Total'].isnull()]

     Nacionalidad     Sexo  Periodo  Total
258  Otros países  Mujeres     2009    NaN

In [53]:
#quiero arreglar el NaN con la media de los demás años en otros paises 'mujeres'. 
df_ganancias_sexoNacionalidad[(df_ganancias_sexoNacionalidad['Nacionalidad'] == 'Otros países') & (df_ganancias_sexoNacionalidad['Sexo'] == 'Mujeres')]['Total'].mean()

11856.730833333333

In [54]:
df_ganancias_sexoNacionalidad['Total'].fillna(df_ganancias_sexoNacionalidad[(df_ganancias_sexoNacionalidad['Nacionalidad'] == 'Otros países') & (df_ganancias_sexoNacionalidad['Sexo'] == 'Mujeres')]['Total'].mean(), inplace= True)
df_ganancias_sexoNacionalidad[(df_ganancias_sexoNacionalidad['Nacionalidad'] == 'Otros países') & (df_ganancias_sexoNacionalidad['Sexo'] == 'Mujeres')]

     Nacionalidad     Sexo  Periodo         Total
247  Otros países  Mujeres     2020  15742.510000
248  Otros países  Mujeres     2019  14444.860000
249  Otros países  Mujeres     2018  15127.930000
250  Otros países  Mujeres     2017  11144.560000
251  Otros países  Mujeres     2016   9459.960000
252  Otros países  Mujeres     2015   9269.160000
253  Otros países  Mujeres     2014  11108.650000
254  Otros países  Mujeres     2013  10073.560000
255  Otros países  Mujeres     2012  11486.400000
256  Otros países  Mujeres     2011  11355.960000
257  Otros países  Mujeres     2010  13145.770000
258  Otros países  Mujeres     2009  11856.730833
259  Otros países  Mujeres     2008   9921.450000

In [40]:
#convertimos periodo a string porque no me interesa tratar los años como int
# df_ganancias_sexoNacionalidad['Periodo'] = df_ganancias_sexoNacionalidad['Periodo'].to_string()

In [55]:
df_ganancias_sexoNacionalidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nacionalidad  273 non-null    object
 1   Sexo          273 non-null    object
 2   Periodo       273 non-null    int64
 3   Total         273 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.7+ KB

In [112]:
#conversión hecha. Ahora puedo hacer un groupby y ver cosas interesantes

In [56]:
df_ganancias_sexoNacionalidad.Nacionalidad.value_counts()

Total                         39
Española                      39
País de la UE28 sin España    39
País de Europa menos UE28     39
De Africa                     39
De América                    39
Otros países                  39
Name: Nacionalidad, dtype: int64

In [43]:
pd.set_option('display.max_rows', 300)

In [46]:
df_grouped = pd.DataFrame(df_ganancias_sexoNacionalidad.groupby([('Nacionalidad'),('Sexo')], as_index=False).mean())
df_grouped
#Media por lugar de origen y sexo de 2008 a 2020

                  Nacionalidad         Sexo         Total
0                    De Africa  Ambos sexos  15283.835385
1                    De Africa      Hombres  16267.888462
2                    De Africa      Mujeres  12103.980000
3                   De América  Ambos sexos  14997.710769
4                   De América      Hombres  16623.798462
5                   De América      Mujeres  13079.199231
6                     Española  Ambos sexos  23711.827692
7                     Española      Hombres  26567.420769
8                     Española      Mujeres  20586.678462
9                 Otros países  Ambos sexos  13584.080769
10                Otros países      Hombres  14359.201538
11                Otros países      Mujeres  11856.730833
12   País de Europa menos UE28  Ambos sexos  15965.481538
13   País de Europa menos UE28      Hombres  18498.437692
14   País de Europa menos UE28      Mujeres  13925.209231
15  País de la UE28 sin España  Ambos sexos  19074.315385
16  País de la UE28 sin España      Hombres  21491.463846
17  País de la UE28 sin España      Mujeres  16247.573846
18                       Total  Ambos sexos  23218.973846
19                       Total      Hombres  25927.737692
20                       Total      Mujeres  20204.954615

In [58]:
df_ganancias_sexoNacionalidad.head()

  Nacionalidad         Sexo  Periodo     Total
0        Total  Ambos sexos     2020  25165.51
1        Total  Ambos sexos     2019  24395.98
2        Total  Ambos sexos     2018  24009.12
3        Total  Ambos sexos     2017  23646.50
4        Total  Ambos sexos     2016  23156.34

In [68]:
df_ganancias_sexoNacionalidad.groupby(['Periodo','Nacionalidad']).mean()

                                           Total
Periodo Nacionalidad
2008    De Africa                   13727.660000
        De América                  13872.893333
        Española                    22271.040000
        Otros países                11531.070000
        País de Europa menos UE28   14336.993333
        País de la UE28 sin España  16609.030000
        Total                       21665.790000
2009    De Africa                   14626.326667
        De América                  14100.306667
        Española                    22853.713333
        Otros países                11966.543611
        País de Europa menos UE28   14260.880000
        País de la UE28 sin España  16988.690000
        Total                       22338.180000
2010    De Africa                   14711.856667
        De América                  14839.476667
        Española                    23224.333333
        Otros países                13780.076667
        País de Europa menos UE28   16450.946667
        País de la UE28 sin España  18479.363333
        Total                       22668.386667
2011    De Africa                   14877.810000
        De América                  14803.553333
        Española                    23319.046667
        Otros países                12050.176667
        País de Europa menos UE28   16865.826667
        País de la UE28 sin España  17739.256667
        Total                       22778.276667
2012    De Africa                   14350.733333
        De América                  14626.030000
        Española                    23159.836667
        Otros países                12271.213333
        País de Europa menos UE28   14710.400000
        País de la UE28 sin España  17376.920000
        Total                       22648.606667
2013    De Africa                   13753.813333
        De América                  14200.920000
        Española                    23122.443333
        Otros países                11629.086667
        País de Europa menos UE28   15306.353333
        País de la UE28 sin España  17907.673333
        Total                       22629.203333
2014    De Africa                   14180.720000
        De América                  14884.463333
        Española                    23170.520000
        Otros países                13041.813333
        País de Europa menos UE28   15567.433333
        País de la UE28 sin España  20219.003333
        Total                       22776.743333
2015    De Africa                   14212.940000
        De América                  14563.000000
        Española                    23499.093333
        Otros países                11995.340000
        País de Europa menos UE28   15827.230000
        País de la UE28 sin España  19070.456667
        Total                       23050.213333
2016    De Africa                   13425.633333
        De América                  14531.210000
        Española                    23538.093333
        Otros países                12608.913333
        País de Europa menos UE28   15718.776667
        País de la UE28 sin España  18764.213333
        Total                       23070.726667
2017    De Africa                   13918.226667
        De América                  15192.936667
        Española                    24035.583333
        Otros países                13302.683333
        País de Europa menos UE28   16447.643333
        País de la UE28 sin España  19805.086667
        Total                       23548.730000
2018    De Africa                   15603.196667
        De América                  16319.640000
        Española                    24369.510000
        Otros países                16141.273333
        País de Europa menos UE28   16858.016667
        País de la UE28 sin España  20841.193333
        Total                       23919.733333
2019    De Africa                   15722.110000
        De América                  15733.043333
        Española                    24889.876667
        Otros países                15831.713333
        País de Europa menos UE28   17352.070000
        País de la UE28 sin España  20715.093333
        Total                       24337.460000
2020    De Africa                   16063.690000
        De América                  16035.596667
        Española                    25632.593333
        Otros países                16316.820000
        País de Europa menos UE28   19983.653333
        País de la UE28 sin España  21675.216667
        Total                       25091.836667

### Gráficas y correlaciones ###

In [69]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
from plotly.offline import iplot

In [71]:
df_ganancias_sexoNacionalidad.head()

  Nacionalidad         Sexo  Periodo     Total
0        Total  Ambos sexos     2020  25165.51
1        Total  Ambos sexos     2019  24395.98
2        Total  Ambos sexos     2018  24009.12
3        Total  Ambos sexos     2017  23646.50
4        Total  Ambos sexos     2016  23156.34

In [91]:
df_nac = df_ganancias_sexoNacionalidad.groupby(['Nacionalidad','Periodo'], as_index=False).mean()

In [96]:
df_gender = df_ganancias_sexoNacionalidad[df_ganancias_sexoNacionalidad['Sexo'] == 'Ambos sexos']

In [ ]:
trace1 = {'x': df_ganancias_sexoNacionalidad['Periodo'],
          'y': df_ganancias_sexoNacionalidad['Total'],
          "type": 'bar'
        }
layout = {'xaxis': {"title":"States"},
          'title': "Total sales in 2014 by state"
        }
fig = go.Figure(data=trace1, layout=layout)
iplot(fig)

In [94]:
trace1 = go.Scatter(x = df_gender['Periodo'], y=df_gender['Total'], mode="lines", name="Ingresos")
# trace2 = go.Scatter(x=df_2.index, y=df_2['Profit'], mode="lines", name="Profit")

# data = [trace1,trace2]
data = trace1

layout = dict(title = "Ingresos por año y nacionalidad", xaxis = dict(title="Año"))

fig = dict(data=data, layout=layout)

iplot(fig)