In [2]:
import pandas as pd
import numpy as np

In [42]:
df_ganancias_sexoNacionalidad = pd.read_csv('data\Ganancia_anual_sexo&nac.csv', sep = '\t')
df_ganancias_sexoNacionalidad.head()

  Nacionalidad         Sexo  Periodo      Total
0        Total  Ambos sexos     2020  25.165,51
1        Total  Ambos sexos     2019  24.395,98
2        Total  Ambos sexos     2018  24.009,12
3        Total  Ambos sexos     2017   23.646,5
4        Total  Ambos sexos     2016  23.156,34

In [46]:
ganancias2021 = pd.read_csv("data\Salarios mes 2021 .csv", sep = '\t', encoding='Latin1')
ganancias2021[ganancias2021['Decil'] == 'Total decil']

,Nacionalidad,Tipo de jornada,Decil,Periodo,Total
0,Total,Jornada a tiempo completo,Total decil,2021,"2.313,13"
11,Española,Jornada a tiempo completo,Total decil,2021,"2.396,34"
22,Española y doble nacionalidad,Jornada a tiempo completo,Total decil,2021,"1.945,53"
33,Extranjera,Jornada a tiempo completo,Total decil,2021,"1.821,24"

In [5]:
df_ganancias_sexoNacionalidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nacionalidad  273 non-null    object
 1   Sexo          273 non-null    object
 2   Periodo       273 non-null    int64
 3   Total         273 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.7+ KB

## LIMPIEZA DE DATOS ##

lo primero que tengo que hacer es convertir la columna total a float con el que pueda trabajar

#nota: el '-' delante de los numeros (según leido en la documentacion de los datos procedentes de ine.es)significa una cantidad de muestreo mas reducida, pero no un numero negativo

In [47]:
#hay alguna manera más elegante de hacer esto?

df_ganancias_sexoNacionalidad['Total'] = df_ganancias_sexoNacionalidad['Total'].str.replace('.','')
df_ganancias_sexoNacionalidad['Total'] = df_ganancias_sexoNacionalidad['Total'].str.replace(',','.')
df_ganancias_sexoNacionalidad['Total'] = df_ganancias_sexoNacionalidad['Total'].str.replace('-','')

C:\Users\rivas\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [48]:
#por alguna razon, al hacer esto se me genera un NaN en muj 2009 otros paises
df_ganancias_sexoNacionalidad['Total'] = pd.to_numeric(df_ganancias_sexoNacionalidad['Total'])
df_ganancias_sexoNacionalidad['Total']

0      25165.51
1      24395.98
2      24009.12
3      23646.50
4      23156.34
         ...
268    12887.57
269    12526.02
270    14229.75
271    12174.59
272    12774.99
Name: Total, Length: 273, dtype: float64

In [49]:
#arreglar el NaN 
df_ganancias_sexoNacionalidad[df_ganancias_sexoNacionalidad['Total'].isnull()]

     Nacionalidad     Sexo  Periodo  Total
258  Otros países  Mujeres     2009    NaN

In [50]:
#quiero arreglar el NaN con la media de los demás años en otros paises 'mujeres'. 
df_ganancias_sexoNacionalidad[(df_ganancias_sexoNacionalidad['Nacionalidad'] == 'Otros países') & (df_ganancias_sexoNacionalidad['Sexo'] == 'Mujeres')]['Total'].mean()

11856.730833333333

In [51]:
df_ganancias_sexoNacionalidad['Total'].fillna(df_ganancias_sexoNacionalidad[(df_ganancias_sexoNacionalidad['Nacionalidad'] == 'Otros países') & (df_ganancias_sexoNacionalidad['Sexo'] == 'Mujeres')]['Total'].mean(), inplace= True)
df_ganancias_sexoNacionalidad[(df_ganancias_sexoNacionalidad['Nacionalidad'] == 'Otros países') & (df_ganancias_sexoNacionalidad['Sexo'] == 'Mujeres')]

     Nacionalidad     Sexo  Periodo         Total
247  Otros países  Mujeres     2020  15742.510000
248  Otros países  Mujeres     2019  14444.860000
249  Otros países  Mujeres     2018  15127.930000
250  Otros países  Mujeres     2017  11144.560000
251  Otros países  Mujeres     2016   9459.960000
252  Otros países  Mujeres     2015   9269.160000
253  Otros países  Mujeres     2014  11108.650000
254  Otros países  Mujeres     2013  10073.560000
255  Otros países  Mujeres     2012  11486.400000
256  Otros países  Mujeres     2011  11355.960000
257  Otros países  Mujeres     2010  13145.770000
258  Otros países  Mujeres     2009  11856.730833
259  Otros países  Mujeres     2008   9921.450000

In [40]:
#convertimos periodo a string porque no me interesa tratar los años como int
# df_ganancias_sexoNacionalidad['Periodo'] = df_ganancias_sexoNacionalidad['Periodo'].to_string()

In [52]:
df_ganancias_sexoNacionalidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nacionalidad  273 non-null    object
 1   Sexo          273 non-null    object
 2   Periodo       273 non-null    int64
 3   Total         273 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.7+ KB

In [112]:
#conversión hecha. Ahora puedo hacer un groupby y ver cosas interesantes

In [53]:
df_ganancias_sexoNacionalidad.Nacionalidad.value_counts()

Total                         39
Española                      39
País de la UE28 sin España    39
País de Europa menos UE28     39
De Africa                     39
De América                    39
Otros países                  39
Name: Nacionalidad, dtype: int64

In [43]:
pd.set_option('display.max_rows', 300)

In [54]:
df_grouped = pd.DataFrame(df_ganancias_sexoNacionalidad.groupby([('Nacionalidad'),('Sexo')], as_index=False).mean())
df_grouped
#Media por lugar de origen y sexo de 2008 a 2020

                  Nacionalidad         Sexo  Periodo         Total
0                    De Africa  Ambos sexos   2014.0  15283.835385
1                    De Africa      Hombres   2014.0  16267.888462
2                    De Africa      Mujeres   2014.0  12103.980000
3                   De América  Ambos sexos   2014.0  14997.710769
4                   De América      Hombres   2014.0  16623.798462
5                   De América      Mujeres   2014.0  13079.199231
6                     Española  Ambos sexos   2014.0  23711.827692
7                     Española      Hombres   2014.0  26567.420769
8                     Española      Mujeres   2014.0  20586.678462
9                 Otros países  Ambos sexos   2014.0  13584.080769
10                Otros países      Hombres   2014.0  14359.201538
11                Otros países      Mujeres   2014.0  11856.730833
12   País de Europa menos UE28  Ambos sexos   2014.0  15965.481538
13   País de Europa menos UE28      Hombres   2014.0  18498.437692
14   País de Europa menos UE28      Mujeres   2014.0  13925.209231
15  País de la UE28 sin España  Ambos sexos   2014.0  19074.315385
16  País de la UE28 sin España      Hombres   2014.0  21491.463846
17  País de la UE28 sin España      Mujeres   2014.0  16247.573846
18                       Total  Ambos sexos   2014.0  23218.973846
19                       Total      Hombres   2014.0  25927.737692
20                       Total      Mujeres   2014.0  20204.954615

In [55]:
df_ganancias_sexoNacionalidad.head()

  Nacionalidad         Sexo  Periodo     Total
0        Total  Ambos sexos     2020  25165.51
1        Total  Ambos sexos     2019  24395.98
2        Total  Ambos sexos     2018  24009.12
3        Total  Ambos sexos     2017  23646.50
4        Total  Ambos sexos     2016  23156.34

In [56]:
df_ganancias_sexoNacionalidad.groupby(['Periodo','Nacionalidad']).mean()

                                           Total
Periodo Nacionalidad
2008    De Africa                   13727.660000
        De América                  13872.893333
        Española                    22271.040000
        Otros países                11531.070000
        País de Europa menos UE28   14336.993333
...                                          ...
2020    Española                    25632.593333
        Otros países                16316.820000
        País de Europa menos UE28   19983.653333
        País de la UE28 sin España  21675.216667
        Total                       25091.836667

[91 rows x 1 columns]

### Gráficas y correlaciones ###

In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
from plotly.offline import iplot

In [58]:
df_ganancias_sexoNacionalidad.head()

  Nacionalidad         Sexo  Periodo     Total
0        Total  Ambos sexos     2020  25165.51
1        Total  Ambos sexos     2019  24395.98
2        Total  Ambos sexos     2018  24009.12
3        Total  Ambos sexos     2017  23646.50
4        Total  Ambos sexos     2016  23156.34

In [59]:
df_nac = df_ganancias_sexoNacionalidad.groupby(['Nacionalidad','Periodo'], as_index=False).mean()

In [60]:
#quiero hacer un trace para cada nacionalidad, pruebo si con africa sale

df_gender = df_ganancias_sexoNacionalidad[df_ganancias_sexoNacionalidad['Sexo'] == 'Ambos sexos']
both_genders_nac_grouped = df_gender.groupby(['Nacionalidad','Periodo'], as_index=False).mean()
both_genders_nac_grouped['Nacionalidad'].unique()

array(['De Africa', 'De América', 'Española', 'Otros países',
       'País de Europa menos UE28', 'País de la UE28 sin España', 'Total'],
      dtype=object)

In [61]:
#vamos a ver si funciona lo de arriba
trace1 = go.Scatter(x = both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'De Africa']['Periodo'], y= both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'De Africa']['Total'], mode="lines", name="De Africa")
trace2 = go.Scatter(x = both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'Española']['Periodo'], y= both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'Española']['Total'], mode="lines", name="Española")
trace3 = go.Scatter(x = both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'De América']['Periodo'], y= both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'De América']['Total'], mode="lines", name="De América")
trace4 = go.Scatter(x = both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'Otros países']['Periodo'], y= both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'Otros países']['Total'], mode="lines", name="Otros países")
trace5 = go.Scatter(x = both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'País de Europa menos UE28']['Periodo'], y= both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'País de Europa menos UE28']['Total'], mode="lines", name="Europa sin UE28")
trace6 = go.Scatter(x = both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'País de la UE28 sin España']['Periodo'], y= both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'País de la UE28 sin España']['Total'], mode="lines", name="Europa UE28 sin España")
trace7 = go.Scatter(x = both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'Total']['Periodo'], y= both_genders_nac_grouped[both_genders_nac_grouped['Nacionalidad'] == 'Total']['Total'], mode="lines", name="Total")



data = [trace1,trace2, trace3, trace4, trace5, trace6, trace7]


layout = dict(title = "Ingresos por año y nacionalidad", xaxis = dict(title="Año"))

fig = dict(data=data, layout=layout)

iplot(fig)

In [ ]:
trace1 = {'x': df_ganancias_sexoNacionalidad['Periodo'],
          'y': df_ganancias_sexoNacionalidad['Total'],
          "type": 'bar'
        }
layout = {'xaxis': {"title":"States"},
          'title': "Total sales in 2014 by state"
        }
fig = go.Figure(data=trace1, layout=layout)
iplot(fig)