# MEMORY

In [2]:
import pandas as pd
import numpy as np

### Selecting and reading datasets that will be used

In [4]:
df_ganancias_sexoNacionalidad = pd.read_csv('..\data\Ganancia_anual_sexo&nac.csv', sep = '\t')
df_ganancias_sexoNacionalidad.head()

  Nacionalidad         Sexo  Periodo      Total
0        Total  Ambos sexos     2020  25.165,51
1        Total  Ambos sexos     2019  24.395,98
2        Total  Ambos sexos     2018  24.009,12
3        Total  Ambos sexos     2017   23.646,5
4        Total  Ambos sexos     2016  23.156,34

In [7]:
df_ganancias_sexoNacionalidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nacionalidad  273 non-null    object
 1   Sexo          273 non-null    object
 2   Periodo       273 non-null    int64
 3   Total         273 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.7+ KB

In [ ]:
#poner el de obstaculos y si cargo alguno mas

## DATA CLEANING ##

lo primero que tengo que hacer es convertir la columna total a float con el que pueda trabajar

#nota: el '-' delante de los numeros (según leido en la documentacion de los datos procedentes de ine.es)significa una cantidad de muestreo mas reducida, pero no un numero negativo

In [8]:
#Convert 'Total' column into float so it can be worked with

df_ganancias_sexoNacionalidad['Total'] = df_ganancias_sexoNacionalidad['Total'].str.replace('.','')
df_ganancias_sexoNacionalidad['Total'] = df_ganancias_sexoNacionalidad['Total'].str.replace(',','.')
df_ganancias_sexoNacionalidad['Total'] = df_ganancias_sexoNacionalidad['Total'].str.replace('-','')

C:\Users\rivas\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
#por alguna razon, al hacer esto se me genera un NaN en muj 2009 otros paises
df_ganancias_sexoNacionalidad['Total'] = pd.to_numeric(df_ganancias_sexoNacionalidad['Total'])

In [12]:
df_ganancias_sexoNacionalidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nacionalidad  273 non-null    object
 1   Sexo          273 non-null    object
 2   Periodo       273 non-null    int64
 3   Total         272 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.7+ KB

In [13]:
#arreglar el NaN 
df_ganancias_sexoNacionalidad[df_ganancias_sexoNacionalidad['Total'].isnull()]

     Nacionalidad     Sexo  Periodo  Total
258  Otros países  Mujeres     2009    NaN

In [16]:
#quiero arreglar el NaN con la media de los demás años en otros paises 'mujeres'. 
df_ganancias_sexoNacionalidad[(df_ganancias_sexoNacionalidad['Nacionalidad'] == 'Otros países') & (df_ganancias_sexoNacionalidad['Sexo'] == 'Mujeres')]['Total'].mean()
df_ganancias_sexoNacionalidad['Total'].fillna(df_ganancias_sexoNacionalidad[(df_ganancias_sexoNacionalidad['Nacionalidad'] == 'Otros países') & (df_ganancias_sexoNacionalidad['Sexo'] == 'Mujeres')]['Total'].mean(), inplace= True)
df_ganancias_sexoNacionalidad[(df_ganancias_sexoNacionalidad['Nacionalidad'] == 'Otros países') & (df_ganancias_sexoNacionalidad['Sexo'] == 'Mujeres')]

     Nacionalidad     Sexo  Periodo         Total
247  Otros países  Mujeres     2020  15742.510000
248  Otros países  Mujeres     2019  14444.860000
249  Otros países  Mujeres     2018  15127.930000
250  Otros países  Mujeres     2017  11144.560000
251  Otros países  Mujeres     2016   9459.960000
252  Otros países  Mujeres     2015   9269.160000
253  Otros países  Mujeres     2014  11108.650000
254  Otros países  Mujeres     2013  10073.560000
255  Otros países  Mujeres     2012  11486.400000
256  Otros países  Mujeres     2011  11355.960000
257  Otros países  Mujeres     2010  13145.770000
258  Otros países  Mujeres     2009  11856.730833
259  Otros países  Mujeres     2008   9921.450000

In [203]:
df_ganancias_sexoNacionalidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nacionalidad  273 non-null    object
 1   Sexo          273 non-null    object
 2   Periodo       273 non-null    object
 3   Total         273 non-null    float64
dtypes: float64(1), object(3)
memory usage: 8.7+ KB

In [112]:
#conversión hecha. Ahora puedo hacer un groupby y ver cosas interesantes

In [197]:
df_ganancias_sexoNacionalidad.Nacionalidad.value_counts()

Total                         39
Española                      39
País de la UE28 sin España    39
País de Europa menos UE28     39
De Africa                     39
De América                    39
Otros países                  39
Name: Nacionalidad, dtype: int64

In [71]:
pd.set_option('display.max_rows', 300)

In [205]:
df_grouped = pd.DataFrame(df_ganancias_sexoNacionalidad.groupby([('Nacionalidad'),('Sexo')], as_index=False).mean())
df_grouped

                  Nacionalidad         Sexo         Total
0                    De Africa  Ambos sexos  15283.835385
1                    De Africa      Hombres  16267.888462
2                    De Africa      Mujeres  12103.980000
3                   De América  Ambos sexos  14997.710769
4                   De América      Hombres  16623.798462
5                   De América      Mujeres  13079.199231
6                     Española  Ambos sexos  23711.827692
7                     Española      Hombres  26567.420769
8                     Española      Mujeres  20586.678462
9                 Otros países  Ambos sexos  13584.080769
10                Otros países      Hombres  14359.201538
11                Otros países      Mujeres  11856.730833
12   País de Europa menos UE28  Ambos sexos  15965.481538
13   País de Europa menos UE28      Hombres  18498.437692
14   País de Europa menos UE28      Mujeres  13925.209231
15  País de la UE28 sin España  Ambos sexos  19074.315385
16  País de la UE28 sin España      Hombres  21491.463846
17  País de la UE28 sin España      Mujeres  16247.573846
18                       Total  Ambos sexos  23218.973846
19                       Total      Hombres  25927.737692
20                       Total      Mujeres  20204.954615